* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

:root {
  --breackpoint-xs: 0;
  --breackpoint-sm: 600px;
  --breackpoint-md: 960px;
  --breackpoint-lg: 1280px;
  --breackpoint-xl: 1920px;
  --dark: #333333;
}