.alert {
    text-align: left;
    border-radius: 8px;
    padding: 10px 20px;
    position: fixed;
    bottom: 16px;
    left: 16px;
    max-width: 50%;    
}

.alert.alert-success {
    background-color: #20c997;
    color: white;
}

.alert.alert-danger {
    background-color: #dc3545;
    color: white;
}

.contaienr-products {
    display: flex;
    margin-top: 16px;
    padding: 0 16px 16px 16px;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    padding: 16px;
    border: 1px solid gray;
    border-radius: 8px;
}

.card * {
    display: block;
    min-width: 200px;
}

.card .card__img { 
    height: 150px;
}

.card .card__price::before {
    content: "$";
}

.card .card__price { 
    margin: 8px 0;
    font-size: 18px;
    font-weight: 500;
}

.card .card__title { 
    font-weight: 400;
    font-size: 16px;
    margin: 8px 0;
}

.card .card__stock {
    font-size: 14px;
    color: gray;
}

.card .card__btn-edit {
    margin: 8px 0;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    border: 0;
    background-color: var(--dark);
    color: white;
    padding: 10px 16px;
    cursor: pointer;
    text-decoration: none;
}

.card__btn-delete-cart {
    margin: 8px 0;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    border: 0;
    background-color: red;
    color: white;
    padding: 10px 16px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}

.form-add-product-cart {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

.form-add-product-cart__input {
    padding: 4px 4px;
    border-radius: 4px;
    border: 1px solid var(--dark);
    margin-bottom: 8px;
}

.form-add-product-cart__btn-submit {
    margin: 8px 0;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    border: 0;
    background-color: var(--dark);
    color: white;
    padding: 10px 16px;
    cursor: pointer;
    text-decoration: none;
}