input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.load-product {
    height: calc(100vh - 48px);
}

.alert {
    text-align: left;
    border-radius: 8px;
    padding: 10px 20px;
    position: absolute;
    bottom: 16px;
    left: 16px;
    max-width: 50%;    
}

.alert.alert-success {
    background-color: #20c997;
    color: white;
}

.alert.alert-danger {
    background-color: #dc3545;
    color: white;
}
 
.form {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 16px 16px;
    max-width: 500px;
    margin-top: 16px;
    margin: auto;
    justify-content: center;
}

.form input {
    padding: 4px 4px;
    border-radius: 4px;
    border: 1px solid var(--dark);
    margin-bottom: 8px;
}

.form button[type = "submit"] {
    background-color: var(--dark);
    color: white;
    padding: 10px 16px;
    margin-top: 8px;
    border-radius: 4px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

textarea {
    overflow: vertical;
    resize: none;
}