.header {
    padding: 0 16px;
    text-align: center;
    background-color: var(--dark);
}

.header__btn { 
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    padding: 12px;
    display: inline-block;
    margin-left: 8px;
}

.header__btn svg {
    width: 24px;
    height: 24px;
    fill: white;
}

.message {
    text-align: center;
}